
.svelte-tabs li#svelte-tabs-1,
.svelte-tabs li#svelte-tabs-2,
.svelte-tabs li#svelte-tabs-3 {
	flex: 0 0 30%;
  max-width: 30%;
	padding: 0;
	border-bottom: none;
}

.svelte-tabs li#svelte-tabs-1:focus,
.svelte-tabs li#svelte-tabs-2:focus,
.svelte-tabs li#svelte-tabs-3:focus {
	outline: none;
}

.svelte-tabs ul {
	display: flex;
  justify-content: space-around;
}

.svelte-tabs ul.svelte-tabs__tab-list {
	border-bottom: none;
}

.svelte-tabs .svelte-tabs__tab-panel.svelte-epfyet {
	margin: 20px;
}
